IndentWidth: 2
Language: Cpp
DeriveLineEnding: false
UseCRLF: false
UseTab: Never
IncludeBlocks: Regroup
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BreakConstructorInitializers: AfterColon
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 80
IndentCaseBlocks: true
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceBeforeCpp11BracedList: true
AllowAllArgumentsOnNextLine: true
PenaltyBreakAssignment: 80
PenaltyExcessCharacter: 1
SpaceBeforeParens: ControlStatementsExceptForEachMacros
AlignEscapedNewlines: DontAlign
SpaceBeforeSquareBrackets: false
SpacesInContainerLiterals: true
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
StatementMacros: ['UNUSED']